* {font-family : "Open Sans", sans-serif}

.box {
	padding : 20px;
}

.content {
	padding : 20px;	
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content : space-between;
}

.flex > * {
	padding :2px;
}

.grid-main {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
	padding-bottom : 40px;
}

.grid {
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-gap: 10px;
	padding-bottom : 40px;
}

.read-more .cta-content {
   overflow: hidden;
   text-overflow: ellipsis;
   /* TODO test browser compliance here */
   display: -webkit-box;
   -webkit-line-clamp: 3; 
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

.block {display: block!important;}

.box-shadow {box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

/*bootstrap madness*/
input,textarea,select,.uneditable-input{border: 1px solid #ccc;}
input[type="checkbox"] {width:16px!important;}

.red {color:red}
.green {color:forestgreen}


.header {
	border-bottom : 1px solid #ccc;
	margin-bottom:20px;
	background-image:  url("/resources/img/ti2.jpg");
	background-size: cover;
	min-height:246px;
	background-position-y: -34px;		
}

.header .form_container {
	padding : 8px;					
}

.menu a, .header label {
	font-size: 16px;
	font-weight: bold;
	color:white!important;
}

.header form {
	padding-bottom : 0px;
}

.footer {
	margin-top:20px;
	min-height:80px;
	border-top : 1px solid #ccc
}

.footer {background: linear-gradient(to left, #f46b45, #eea849);}
.footer img {display: inline-block; height:80px}



.faction {
	background-color:  #ccc;
	border-radius : 20px;
	opacity: 0.9;
}

.faction .faction-img {	
	height:80px;
	width:80px;
			
 	background-image:url("/resources/img/factions.png"); 	
	background-repeat: no-repeat;
	
	margin-bottom : 10px; 	
}

.faction a {
	display: block;
}
.faction a:hover {
	text-decoration: none;
	opacity: 0.5;
}
.faction a >p:not(:first-of-type) {
	color:black;
	text-decoration: none;
}

.strategy {padding:10px;margin-bottom:10px}

.table_players {margin-bottom :40px!important;}

table.player_stats td{width:150px;}

.img-arborec {	
	background-position: top -320px left -80px;		 	
}
.img-argent {	
	background-position: top 0px left 0px;		 	
}
.img-letnev {	
	background-position: top -400px left 0px;		 	
}
.img-muaat {	
	background-position: top -320px left 0px;		 	
}
.img-saar {	
	background-position: top -160px left -80px;		 	
}
.img-keleres {	
	background-position: top -400px left -80px;		 	
}
.img-hacan {	
	background-position: top -240px left 0px;		 	
}
.img-empyrean {	
	background-position: top 0px left -320px;		 	
}
.img-sol {	
	background-position: top -80px left -80px;		 	
}
.img-ghosts {	
	background-position: top -320px left -160px;		 	
}
.img-l1z1x {	
	background-position: top -240px left -160px;		 	
}
.img-mahact {	
	background-position: top -80px left 0px;		 	
}
.img-mentak {	
	background-position: top -240px left -480px;		 	
}
.img-naalu {	
	background-position: top -240px left -400px;		 	
}
.img-naaz {	
	background-position: top -80px left -160px;		 	
}
.img-nekro {	
	background-position: top -240px left -240px;		 	
}
.img-nomad {	
	background-position: top -160px left -240px;		 	
}
.img-sardakk {	
	background-position: top -320px left -240px;		 	
}
.img-titans {	
	background-position: top -0px left -160px;		 	
}
.img-jolnar {	
	background-position: top -160px left -160px;		 	
}
.img-cabal {	
	background-position: top -240px left -240px;		 	
}
.img-winnu {	
	background-position: top -0px left -80px;		 	
}
.img-xxcha {	
	background-position: top -0px left -240px;		 	
}
.img-yin {	
	background-position: top -240px left -320px;		 	
}
.img-yssaril {	
	background-position: top -160px left -0px;		 	
}


@media (max-width:1024px) {
	.grid {
		grid-template-columns: 50% 50%;		
	}
	
	.desktop {display:none}	
	.mobile {display : block}
	
	.event > input[type="checkbox"] {margin-bottom:30px;}
}

@media (max-width:800px) {
	.grid {
		grid-template-columns: 100%
	}
		
}


	